{% extends 'base.html' %}

    {% block content %}
        <form id="imageForm">
            <!-- <input id="schema" type="file" name="schema"> -->
            <input id="price" type="file" name="price">
            <input type="text" name="price">
            <input type="text" name="number">
            <input type="text" name="entrance">
            <input type="text" name="floor">
            <input type="text" name="status">
            <input type="text" name="type">
            <!-- <input type="text" name="house"> -->
            <input type="text" name="house_id">
            <button class="post-image" type="button">add image</button>
        </form>
    {% endblock %}
